/*
*** GRID
*/
.row::before,
.row::after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  width: 100%;
  padding: 12px; }

@media (max-width: 767px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; } }
@media (min-width: 768px) {
  /* For desktop: */
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

/*
*** COMMON
*/
* {
  box-sizing: border-box; }

body {
  min-width: 700px;
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  color: #666; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.text-center {
  text-align: center; }

.bold {
  font-weight: 700; }

.italic {
  font-style: italic; }

.cyan,
header > nav ul > li > a:hover {
  color: #00c7e8 !important; }

/*
*** HEADER
*/
header {
  background: #313332;
  height: 50px; }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right; }
    header nav ul li {
      float: left; }
      header nav ul li a:link, header nav ul li a:active, header nav ul li a:visited {
        line-height: 50px;
        padding: 0 20px;
        display: inline-block;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px; }
  header nav img {
    padding: 10px 0 10px 10px; }

nav::before,
nav::after {
  content: "";
  display: table;
  clear: both; }

@media (max-width: 767px) {
  header {
    height: auto; }
    header > nav {
      text-align: center; }
      header > nav a {
        display: block; }
      header > nav ul {
        float: none;
        display: block; }
        header > nav ul li {
          float: none;
          display: block;
          border-top: 1px solid #595959; }
          header > nav ul li a:link, header > nav ul li a:active, header > nav ul li a:visited {
            float: none;
            display: block; } }
/*
*** HERO
*/
.hero {
  height: 300px;
  background-image: url("https://images.unsplash.com/photo-1532274402911-5a369e4c4bb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
  background-position: 0% 45%; }
  .hero .slogan {
    max-width: 800px;
    float: right;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 60px;
    padding: 10px 30% 10px 40px; }
    .hero .slogan h1 {
      color: white;
      text-transform: uppercase;
      font-weight: 400; }

/*
*** BENEFITS
*/
.benefits {
  margin: 50px 0; }
  .benefits .icon {
    font-size: 12px;
    color: #313332; }
  .benefits h4 {
    text-transform: uppercase;
    color: #313332; }
  .benefits p {
    font-size: 12px; }

/*
*** FEATURED
*/
.featured {
  margin-bottom: 50px; }
  .featured .container {
    padding: 0 70px; }
  .featured h1 {
    font-size: 700;
    text-transform: uppercase;
    color: #313332; }
  .featured p {
    font-size: 14px; }

/*
*** GALLERY
*/
.gallery img {
  min-width: 100%;
  max-height: 200px;
  display: block;
  object-fit: cover; }
.gallery [class*="col-"] {
  padding: 0;
  margin: 0; }
.gallery .item {
  position: relative;
  overflow: hidden; }
  .gallery .item:hover .buttons {
    opacity: 1;
    top: 0; }
.gallery .buttons {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  padding-top: 36%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  font-size: 8px;
  transition: all .3s; }
  .gallery .buttons a:link, .gallery .buttons a:active, .gallery .buttons a:visited {
    color: white;
    display: inline-block;
    transition: all .1s ease-in-out; }
  .gallery .buttons a:hover {
    transform: scale(1.2); }
  .gallery .buttons a:first-of-type {
    margin-right: 20px; }
  .gallery .buttons a .fa-inverse {
    color: black; }

@media (max-width: 767px) {
  .gallery .buttons {
    top: 0;
    width: 100%;
    height: 50%;
    padding-top: 30px; }
    .gallery .buttons a:link, .gallery .buttons a:active, .gallery .buttons a:visited, .gallery .buttons a:hover {
      transform: scale(2); }
    .gallery .buttons a:first-of-type {
      margin-right: 60%; } }
/*
*** EMPLOYEES
*/
.employees {
  margin: 80px 0; }
  .employees .photo {
    position: relative;
    margin: 0 5px; }
    .employees .photo img {
      width: 100%;
      border-radius: 50%;
      display: block; }
    .employees .photo .title {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      padding-top: 45%;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      opacity: 0;
      transition: all .3s; }
    .employees .photo:hover .title {
      opacity: 1; }

/*
*** TABLET
*/
.tablet {
  color: white; }
  .tablet [class*="col-"] {
    padding-bottom: 0; }
  .tablet img {
    width: 100%;
    margin-top: 50px;
    display: block; }
  .tablet .shadow {
    background-color: rgba(0, 0, 0, 0.5); }
  .tablet h1 {
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 0; }
  .tablet p {
    font-size: 14px; }
  .tablet .container > .row > div:nth-of-type(2) {
    padding-left: 40px; }
  .tablet .container .row .row div {
    padding-top: 0; }
    .tablet .container .row .row div:first-of-type {
      padding-left: 0; }

@media (max-width: 767px) {
  .tablet .row:first-child {
    position: relative; }
    .tablet .row:first-child > div:first-of-type {
      position: absolute;
      bottom: 0; }
    .tablet .row:first-child > div:nth-child(2) {
      margin-left: 25%; }
  .tablet .row .row div:nth-child(2) {
    padding-left: 0; }
  .tablet h1 {
    margin-top: 1em; } }
/*
*** STATISTICS
*/
.statistics {
  margin-top: 50px;
  margin-bottom: 30px; }
  .statistics .number {
    font-size: 48px;
    font-weight: 700;
    color: #313332; }
  .statistics .title {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700; }

/*
*** FOOTER
*/
footer {
  background-color: #303332;
  padding-top: 30px;
  color: white;
  font-size: 12px; }
  footer .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase; }
    footer .title hr {
      display: inline-block;
      width: 70px;
      margin-bottom: .3em;
      margin-left: .3em; }
  footer .row .row div {
    padding-top: 0; }
  footer a:link, footer a:active, footer a:visited {
    text-decoration: none;
    color: white; }
  footer a:hover {
    text-decoration: underline; }
  footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    footer ul li {
      display: inline;
      float: left;
      margin-left: 10px; }
      footer ul li:first-of-type {
        margin-left: 0; }
      footer ul li a:link, footer ul li a:active, footer ul li a:visited {
        display: block;
        font-size: 12px;
        padding: 5px;
        background-color: #00c7e8;
        transition: all .3s ease-in-out; }
      footer ul li a:hover {
        color: #00c7e8;
        background-color: rgba(0, 0, 0, 0); }
  footer .copyright {
    background-color: #242625;
    padding: 10px 0; }

/*# sourceMappingURL=style.css.map */
